*{
    background-color: #e5e5fd;
}
img{
    width: 180px;
    border-radius: 50%;
    margin-left: 200px;
    margin-top: 20px;
    }
    h1{
        text-align: end;
        /* justify-content: space-between;
       display: flex;
       align-items: flex-end; */
    }
   h4{
    text-align: end;
   } 
 .head1,.head2{
    width: 700px;
    /* margin: 0px auto; */
    text text-align: justify;
 } 
 footer p{
    margin-top: 50px;
    text-align: end;
 }  
    